
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: #E9D5CA;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
}
#wrapper{

}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 8px;
    font-weight: bold;
}
#grandparent{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    
}
#screen{
    grid-column: 1 / -1;
    background-color: #2C3333 ;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.8rem;
    word-wrap: break-word;
    word-break: break-all;
    
    
}

/* Button Customization */

input[type=button]{
    background-color: #18122B;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    
}
#AC,#equals{
    grid-column: span 2;
}
#minus,#plus,#divide,#multiply{
    background-color: #0C134F;
}
#backspace{
    background-color: #393646;
}
#AC{
    background-color: #FC2947;
}

/* Button Customization - taps, hover, activeness */

input[type=button]:active{
    background: #2E4F4F;
}
#divide:focus{
    background: #2E4F4F; 
}
#multiply:focus{
    background: #2E4F4F; 
}
#plus:focus{
    background: #2E4F4F; 
}
#minus:focus{
    background: #2E4F4F; 
}
#AC:active{
    background: #2E4F4F; 
}
#backspace:active{
    background: #2E4F4F; 
}

#footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 50px;
    
}
a{
    color: #0C134F;
}