body{
    background-color: #E9D5CA;
    padding: 0;
    margin: 0;
}
#wrapper{

}
#grandparent{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}
#screen{
    grid-column: 1 / -1;
    background-color: #2C3333 ;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.8rem;
    word-wrap: break-word;
    
}
input[type=button]{
    background-color: #18122B;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    
}
input[type=button]:active{
    animation: gradient 100ms;
    background: #2E4F4F;
    color: #fff;
}

#AC,#equals{
    grid-column: span 2;
}
#minus,#plus,#divide,#multiply{
    background-color: #0C134F;
}
#backspace{
    background-color: #393646;
}
#AC{
    background-color: #FC2947;
}